*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');

body{
    height: 100%;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
}
.cont{
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    
}
.cursor{
    height: 20px;
    width: 20px;
    transition: 0.3s;
    background-color: #ff0059;
    position: absolute;
   mix-blend-mode: difference;
   border-radius: 50%;
   animation: blink 1s 1s infinite;
}
.bar{
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
    width: 100%;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(2, 0, 56));
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.logobar
{
    height: 120px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.logo{
    height: 100px;
    width: 100px;
    background:conic-gradient(violet, red, orange,
     green, white, blue, yellow, violet) ;
     border-radius: 50%;
     padding: 2px;
}
.logo img{
    height: 96px;
    border-radius: 50%;
}

.heading{
    flex-wrap: nowrap;
}
.heading h1{
    color: white;
}
.heading h3{
    color: white;
}

.options{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.options h3{
      color: white;
      margin-left: 20px;
      text-align: center;
      cursor: pointer;
      transition: 2s;
}
.a{
   text-decoration: none;
}

.menubar{
    color: white;
    display: none;
}
.icon{
    margin-right: 10px;
    font-size: 50px;
    cursor: pointer;
    transition: 2s;
}
.pop-box{
    height: 50px;
    width: 100%;
    display: none;
    justify-content: center;
    text-align: center;
    padding: 19px 9px;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(2, 0, 56));
}
.popup{
    margin-left: 10px;
    width: 100%;
    display: none;
    justify-content: space-around;
}
#closer{
    font-size: 5px;
    color: white;
    display: none;
    cursor: pointer;
    top: 0;
}
.popup h3{
    margin-left: 10px;
    color: white;
    background: #fc4a88;
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    display: none;
    cursor: pointer;
    transition: 2s;
}
.content{
    height: 84vh;
    width: 100%;
    background-color: rgb(7, 7, 41);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.box1{
    height: 100%;
    width: 100%;
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    color: white;
    margin-top: 20px;
}
.box1 h1{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 50px;
    font-weight: bold;
    
}

.box1 img{
    height:270px ;
    border-radius: 50%;
    margin-left: 15vw;
}



.text h2{
    font-size: 3em;
        color: #ff0059;
        border-right: 5px solid white;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 3px;
        animation:
        typing 2s steps(11), 
        cursor .4s step-end infinite alternate;
       animation-iteration-count: infinite;
}
.container2{
    height: 100%;
    width: 100%;
}
.projects-cont{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left,rgb(0, 0, 0), rgb(2, 0, 56 ));
    padding: 20px;
}
.Project-text h1{
    color: white;
    text-align: center;
    animation-name: color;
    animation-duration: 2s;
}

.projects-box{
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxes{
    height: 400px;
    width: 350px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #ff0059;
    border-radius: 20px;
    overflow: hidden;
}
.boxes img{
    overflow: hidden;
    height: 350px;
}
.project1{
   display: flex;
   text-align: center;
   padding: 10px;
   justify-content: space-between;
}
.project1 h3{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#det{
    color: #00fffb;
}
#det:hover{
    color: #2bff00;
    transform: translateY(-5px);
}
.det-pop{
    height: 400px;
    width: 350px;
    padding: 20px;
    font-family: "varanda", sans-serif;
    background-image: url(NGO.jpg);
    background-color: #00fff7;
    object-fit:cover;
    object-position: center;
}
#closer1{
    font-size: 30px;
    color: #ff0059;
    cursor: pointer;
}
@keyframes color{
    to{
        color: #00fff7;
        transform: translateX(20px);
    }
}

@keyframes cursor{
    50%{border-color: transparent}
    80%{
        border-color:#ff0059
    }
}
@keyframes typing{
    from{width:0}
}
@keyframes blink{
    100%{
        background-color: #00fff7;
    }
}
@media (max-width :900px){
    .menu h3{
     display: none;
    }
    .menubar{
        display: contents;
    }
    .pop-box{
        display: flex;
    }
    .popup h3{
        display: contents;
        font-size: 12px;
        background-color: #ff0059;
    }
    #closer{
        display: block;
        font-size: 30px;
    }
}


/* Hover Section */

.options h3:hover{
    color: #ff0059;
    border-bottom: 3px solid rgb(0, 179, 255);
}
.popup h3:hover{
    color: #ff0059;
    border-bottom: 3px solid rgb(0, 179, 255);
}
.icon:hover{
    color: #ff0059;
}
#closer:hover{
    color: #00fff7;
}
