*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

body{
    height: 100%;
    width: 100%;
    font-family: "Lucida Console", "Courier New", monospace;
}
.cont{
    
    height: 100%;
    width: 100%;
}

.container{
    height: 100%;
    width: 100%;
    cursor: none;
}
.cursor{
    height: 20px;
    width: 20px;
    transition:0.3s;
    background-color: #ff0059;
    position: absolute;
   mix-blend-mode: difference;
   border-radius: 50%;
   animation: blink 1s 1s infinite;
}
.bar{
    padding-left: 20px;
    padding-right: 20px;
    height: 120px;
    width: 100%;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(2, 0, 56));
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.logobar
{
    height: 120px;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.rad{
    display: none;
}
.logo{
    height: 100px;
    width: 100px;
    margin-right:18px;
    background:conic-gradient(violet, red, orange,
     green, white, blue, yellow, violet) ;
     border-radius: 50%;
     padding: 2px;
}
.logo img{
    height: 96px;
    border-radius: 50%;
}

.heading{
    flex-wrap: nowrap;
}
.heading h1{
    color: white;
}
.heading h3{
    color: white;
}

.options{
    height: 120px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.options h3{
      color: white;
      margin-left: 20px;
      text-align: center;
      cursor: pointer;
      transition: 2s;
}
.a{
   text-decoration: none;
}

.menubar{
    color: white;
    display: none;
    position: absolute;
}
.icon{
    margin-right: 10px;
    font-size: 50px;
    cursor: pointer;
    transition: 2s;
}
.closerm{
    font-size: 5px;
    color: white;
    cursor: pointer;
    display: none;
    top: 0;
}
.popup h3{
    margin-left: 10px;
    color: rgb(17, 0, 87);
    padding: 5px 5px;
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    display: none;
    cursor: pointer;
    transition: 2s;
}

.main{
    height: 84vh;
    width: 100%;
    display: block;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
}
.content{
    height: 84vh;
    width: 100%;
    background-color: rgb(7, 7, 41);
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    display: flex;
   
}
.feedback{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
}
#feedpop{
    height: 30px;
    width: 200px;
    border: 2px solid #00fff7;
    display: none;
    border-radius: 5px;
    overflow: hidden;
}
#feedback-btn{
    color: #00fff7;
    background-color: #ff0059;
    padding: 5px;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
    border-radius: 20px;
    text-align: center;
    font-weight: 600;
    width: 125px;
}
#feedback-btn:hover{
    color: #ff0059;
    transition: 1s;
    background-color: #00fff7;
}
.starbox{
    background-color: #000000;
    height: 100%;
    width: 160px;
}
.submitbox{
    background-color: #00fff7;
    height: 100%;
    width: 40px;
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.arrow ion-icon{
    font-size: 20px;
    color: #ff0051;
   
    font-weight: 1000;
}
.box1{
    height: 100%;
    width: 100%;
    display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
    color: white;
    margin-top: 20px;
}
.text h1{
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif; 
  font-size: 50px;
    font-weight: bold;
}

.box1 img{
    height:270px ;
    border-radius: 50%;
    margin-left: 15vw;
}



.text h2{
    font-size: 3em;
        color: #ff0059;
        border-right: 5px solid white;
        overflow: hidden;
        white-space: nowrap;
        letter-spacing: 3px;
        animation:
        typing 2s steps(11), 
        cursor .4s step-end infinite alternate;
       animation-iteration-count: infinite;
}
.container2{
    height: 100%;
    width: 100%;
}
.projects-cont{
    height: 100%;
    width: 100%;
    background: linear-gradient(to left,rgb(0, 0, 0), rgb(2, 0, 56 ));
    padding: 20px;
}
.Project-text h1{
    color: white;
    text-align: center;
    animation-name: color;
    animation-duration: 2s;
}

.projects-box{
    height: 100%;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boxes{
    height: 400px;
    width: 350px;
    margin-top: 20px;
    margin-left: 10px;
    background-color: #ff0059;
    border-radius: 20px;
    overflow: hidden;
}
.boxes img{
    overflow: hidden;
    height: 350px;
}
.project1{
   display: flex;
   text-align: center;
   padding: 10px;
   justify-content: space-between;
}
.project1 h3{
    font-size: 20px;
    color: white;
    cursor: pointer;
}
#det{
    color: #00fffb;
}
#det:hover{
    color: #2bff00;
    transform: translateY(-5px);
}
#det2{
    color: #00fffb;
}
#det2:hover{
    color: #2bff00;
    transform: translateY(-5px);
}
.det-pop{
    height: 400px;
    width: 350px;
    padding: 20px;
    font-family: "varanda", sans-serif;
    background-image: url(NGO.jpg);
    background-color: #00fff7;
    object-fit:cover;
    object-position: center;
}
#closer1{
    font-size: 30px;
    color: #ff0059;
    cursor: pointer;
}
@keyframes color{
    to{
        color: #00fff7;
        transform: translateX(20px);
    }
}

@keyframes cursor{
    50%{border-color: transparent}
    80%{
        border-color:#ff0059
    }
}
@keyframes typing{
    from{width:0}
}
@keyframes blink{
    100%{
        background-color: #00fff7;
    }
}
@media (max-width :900px){
    .menu h3{
     display: none;
    }
    .menubar{
        display: contents;
    }
    .popup{
        height:70%;
        animation: slide 2s 1;
        width: 200px;
        display: none;
        border-radius: 5px;
        justify-content: center;
        text-align: center;
        padding: 19px 9px;
        background-color: white;
    }
    .popup h3{
        display: contents;
        font-size: 12px;
    }
    .closer{
        display: none;
    }
    .bar{
        padding-left: 2px;
        padding-right: 20px;
        height: 120px;
        width: 100%;
        background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(2, 0, 56));
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
    }
}


/* Hover Section */

.options h3:hover{
    color: #ff0059;
    border-bottom: 3px solid rgb(0, 179, 255);
}
.popup h3:hover{
    color: #ff0059;
    border-bottom: 3px solid rgb(0, 179, 255);
}
.icon:hover{
    color: #ff0059;
}
#closer:hover{
    color: #00fff7;
}

/*feedback*/
.containerFeedback{
    position: relative;
    width: auto;
    height:auto;
    background-image: linear-gradient(to left, rgb(0, 0, 0), rgb(2, 0, 56));
    padding: 20px 30px;
    border: 1px solid #444;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .container .post{
    display: none;
  }
  .container .edit{
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 16px;
    color: #666;
    font-weight: 500;
    cursor: pointer;
  }
  .container .edit:hover{
    text-decoration: underline;
  }
  .container .star-widget input{
    display: none;
  }
  .star-widget label{
    font-size: 15px;
    color: #444;
    padding: 7px;
    float: right;
    transition: all 0.2s ease;
  }
  input:not(:checked) ~ label:hover,
  input:not(:checked) ~ label:hover ~ label{
    color: rgb(254, 223, 84);
  }
  input:checked ~ label{
    color: rgb(251, 222, 91);
  }
  input#rate-5:checked ~ label{
    color: rgb(255, 247, 0);
    text-shadow: 0 0 20px rgb(188, 117, 30);
  }
  
  .container form{
    display: none;
  }
  input:checked ~ form{
    display: block;
  }
  form header{
    width: 100%;
    font-size: 25px;
    color: #fe7;
    font-weight: 500;
    margin: 5px 0 20px 0;
    text-align: center;
    transition: all 0.2s ease;
  }
  form .textarea{
    height: 100px;
    width: 100%;
    overflow: hidden;
  }
  form .textarea textarea{
    height: 100%;
    width: 100%;
    outline: none;
    color: #eee;
    border: 1px solid #333;
    background: #222;
    padding: 10px;
    font-size: 17px;
    resize: none;
  }
  .textarea textarea:focus{
    border-color: #444;
  }
  form .btn{
    height: 45px;
    width: 100%;
    margin: 15px 0;
  }
  form .btn button{
    height: 100%;
    width: 100%;
    border: 1px solid #444;
    outline: none;
    background: #222;
    color: #999;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form .btn button:hover{
    background: #1b1b1b;
  }
